# Enable the rewrite engine
RewriteEngine On

# Block access to /phpmyadmin, if exists
RewriteRule ^(/phpmyadmin) - [F,L,NC]

# Append .php if that file exists (internal rewrite)
RewriteCond %{DOCUMENT_ROOT}/$1.php -f
RewriteRule (.*?)/?$ $1.php [L]

# Enable security headers
Header set X-Frame-Options DENY
Header set X-Content-Type-Options "nosniff"
Header set X-XSS-Protection "1; mode=block"
Header set Referrer-Policy no-referrer
