body {
    background-color: white !important;
}

nav {

}

#fixed {
    position: fixed;
    border-bottom-width: thin;
    border-bottom-style: solid;
    border-bottom-color: #333;
}

nav.container {
    margin-top: 0px !important;
}

#navbar {
    width: 100%;
    background-color: white;
    z-index:99;
}

a {
    text-decoration: none !important;
}
