#message {
    display: none !important;
}
.navbar {
    margin-bottom: 0% !important;
}
.navbar-brand {
    position: relative;
    z-index: 2;
}
.navbar-nav.navbar-right .btn {
    position: relative;
    z-index: 2;
    padding: 4px 20px;
    margin: 10px auto;
}
.navbar .navbar-collapse {
    position: relative;
}
.navbar .nav-collapse {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding-right: 120px;
    padding-left: 80px;
    width: 100%;
}
.navbar.navbar-default .nav-collapse {
    background-color: #f8f8f8;
}
.navbar.navbar-inverse .nav-collapse {
    background-color: #222;
}
.navbar .nav-collapse .navbar-form {
    border-width: 0;
    box-shadow: none;
}
.nav-collapse>li {
    float: right;
}
.btn.btn-circle {
    border-radius: 50px;
}
.btn.btn-outline {
    background-color: transparent;
}
@media screen and (max-width: 767px) {
    .navbar .navbar-collapse .navbar-right > li:last-child {
        padding-left: 15px;
        padding-right: 15px;
    }
    .navbar .nav-collapse {
        margin: 7.5px auto;
        padding: 0;
    }
    .navbar .nav-collapse .navbar-form {
        margin: 0;
    }
    .nav-collapse>li {
        float: none;
    }
}
body,
html {
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 "Lato", sans-serif;
    color: #777;
}
.bgimg-1,
.bgimg-2,
.bgimg-3 {
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bgimg-1 {
    background-image: url("https://source.unsplash.com/1600x900/?landscape,water,mountains,forest");
    min-height: 100%;
}
.bgimg-2 {
    background-image: url("https://source.unsplash.com/1600x900/?software,developers,coding,programmers,hackers,hacking,hack,code,coders,programming");
    min-height: 400px;
}
.bgimg-3 {
    background-image: url("https://source.unsplash.com/1600x900/?jobs,work,job,office,cubicle,desk,monitor,screen");
    min-height: 400px;
}
.caption {
    position: absolute;
    left: 0;
    top: 40%;
    width: 100%;
    text-align: center;
    color: #000;
}
.caption span.border {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
}
h3 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font-weight: bold;
    color: #111;
}
.wrapper {
    width: 500px;
}
#indent {
    padding-top: 4%;
}

#footerpad {
    padding-top: 2%;
    padding-bottom: 1%;
}

#pad {
    padding-top: 80px;
}

#count {
    display: inline;
}

.blur {
    -webkit-filter: blur(30px); -moz-filter: blur(30px);
    -o-filter: blur(30px); -ms-filter: blur(30px);
    filter: url(#blur); filter: blur(30px);  filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='3');
    -webkit-transition: 2s -webkit-filter linear;
    -moz-transition: 2s -moz-filter linear;
    -o-transition: 2s -o-filter linear;
    transition: 2s filter linear;
}

@media only screen and (max-device-width: 1024px) {
    .wrapper {
        width: 100%;
    }

    /* Turn off parallax scrolling for tablets and phones */
    .bgimg-1,
    .bgimg-2,
    .bgimg-3 {
        background-attachment: scroll;
    }
}
.submit {

}
.main {
    color: #000;
    font-size: 25px;
}
#main {
    background-color: rgba(255, 255, 255, 0.5);
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto;
}
#navbar {
    padding-top: 0.25%;
    padding-bottom: 0.25%;
    position: fixed;
    z-index: 1;
    right: 0;
    left: 0;
}

footer {

}

.container.contentpanel {
    overflow-wrap: break-word;
}
